npm install -g create-react-app
npm install --save prop-types
npm install --save escape-string-regexp sort-by
npm install --save react-router-dom
npm install --save form-serialize


https://tylermcginnis.com/courses/