{% extends "main.html" %}
{% block content %}
<div class="row">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>{{ category.name }}
	</div>
</div>
<div class='flash'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</div>
{%if 'username' in login_session and creator.id == login_session["user_id"]%}
<div class="row padding-top padding-bottom">
	<div class="col-md-11 padding-none">
		<a href="{{url_for('editCategory', category_name = category.name )}}">
			<button class="btn btn-default">Edit Category</button>
		</a>
		<a href="{{url_for('newCategoryItem', category_name = category.name )}}">
			<button class="btn btn-default">Add Category Item</button>
		</a>
		<a href="{{url_for('deleteCategory', category_name = category.name )}}">
			<button class="btn btn-default delete">Delete Category</button>
		</a>
	</div>
</div>
{%endif%}
{% if items !=[] %}
<div class="row">
	<div class="col-md-3">
		{% for i in items %}
		<div class="menu-item">
			<h3>{{i.title}}</h3>
			<p>{{i.description}}</p>
			{%if 'username' in login_session and creator.id == login_session["user_id"]%}
			<a href="{{url_for('editCategoryItem', category_name = category.name, categoryItem_name=i.title ) }}">Edit</a> |
			<a href="{{url_for('deleteCategoryItem', category_name = category.name, categoryItem_name=i.title ) }}">Delete</a>
			{%endif%}
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}